.bmi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 0 50px 0;
    cursor: pointer;
  }
  .bmi h1 {
    font-size: 2.2rem;
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: whitesmoke;
  }
  .bmi .container1 {
    display: flex;
    gap: 50px;
    min-width: 1500px;
    max-width: 1500px;
    color: whitesmoke;
  }
  .bmi .container1 .wrapper {
    flex: 1;
  }
  .bmi .container1 .wrapper:last-child {
    overflow: hidden;
  }
  .bmi .container1 .wrapper:last-child img {
    width: 100%;
    height: 100%;
  }
  .bmi .container1 .wrapper form {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .bmi .container1 .wrapper form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 22px;
    font-weight: 500;
  }
  .bmi .container1 .wrapper form div input,
  .bmi .container1 .wrapper form div select {
    padding: 7px 4px;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: antiquewhite;
  }
  .bmi .container1 .wrapper form div option {
    color: #111;
  }
  .bmi .container1 .wrapper form div input:focus,
  .bmi .container1 .wrapper form div select:focus {
    outline: none;
  }
  .bmi .container1 .wrapper form button {
    border: none;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: 500;
    color: #0095ff;
    background: #fff;
    cursor: pointer;
  }
  @media (max-width: 1520px) {
    .bmi {
      padding: 100px 20px 50px 20px;
    }
    .bmi .container1 {
      min-width: 100%;
    }
  }
  @media (max-width: 735px) {
    .bmi .container1 {
      flex-direction: column-reverse;
      gap: 1px;
    }
  }